:root {
    --main-color: #FF9900;
    --main-color_light: #FFB84D;
    --color-actve: #E1670E;
}


@font-face {
    font-family: 'Montserrat';
    src: local(''),
        url('/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local(''),
        url('/fonts/Montserrat-Medium.woff2') format('woff2'),
        url('/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local(''),
        url('/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local(''),
        url('/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local(''),
        url('/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('/fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: none;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 32px;
}

a,
a:link,
a:visited {
    /* color: inherit; */
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ol {
    list-style: none;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active,
textarea:focus {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

body {
    background: #FFFFFF;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding-left: 75px;
    padding-right: 75px;
}

/* HEADER */
.header {
    height: 100px;
    margin-bottom: 50px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    border-radius: 0px 0px 32px 32px;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.burger {
    display: none;
}

.header__logo {
    margin-right: auto;
    transform: translateY(5px);
}

.header__nav {
    margin-right: 253px;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 67px;
}

.nav__link {
    padding: 0 7px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    border: 2px solid transparent;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.nav__link:hover {
    border-bottom: 2px solid var(--main-color, #FF9900);
}

.focus-ui:focus {
    outline: 2px solid var(--main-color, #FF9900);
}

.nav__link:active {
    outline: none;
    color: var(--color-actve, #E1670E);
    border-bottom: 2px solid var(--color-actve, #E1670E);
}

.search-icon {
    background: url(/img/header/search-icon.svg) center no-repeat transparent;
    background-size: contain;
    width: 24px;
    height: 24px;
}


/* HERO */
.section__hero {
    padding-bottom: 50px;
}

.hero {
    background: url(/img/hero/low-angle-photo-of-balconies-2462015\ 1.jpg) center no-repeat;
    background-size: cover;
    border-radius: 32px;
    padding: 100px 80px;
}

.hero-wrap {
    max-width: 837px;
    color: #FFFFFF;
    font-weight: 700;
}

.hero__title {
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    margin-bottom: 24px;
}

.hero__subtext {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 90px;
}

.btn {
    background-color: var(--main-color, #FF9900);
    border-radius: 16px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 20px 38px;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
    font-size: 16px;
}

.btn:hover,
.btn:focus {
    background-color: var(--main-color_light, #FFB84D);
}

.btn:active {
    background-color: var(--color-actve, #E1670E);
}

.hero__btn {
    padding: 25px 39px;
    font-size: 23px;
    line-height: 28px;
}

/* ABOUT US */
.section__about-us {
    padding-bottom: 100px;
}

.section__heading {
    font-size: 48px;
    line-height: 59px;
}

.about-us__heading {
    margin-bottom: 20px;
}

.about-us__text {
    max-width: 1235px;
    margin-bottom: 50px;
}

.img-for-480 {
    display: none;
}

.about-us-card_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url(/img/about-us/Rectangle\ 2.jpg) no-repeat center;
    background-size: cover;
    max-width: 868px;
    border-radius: 32px;
}

.about-us-card__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 32px;

}

.about-us-card__text {
    max-width: 448px;
    color: #FFFFFF;
    font-weight: 700;
    padding-right: 15px;
}

.about-us-card__btn {
    background-color: transparent;
    border: 3px solid var(--main-color, #FF9900);
    line-height: 20px;
    padding: 17px 35px;
}

.about-us-card {
    display: flex;
    gap: 32px;
}

.about-us-card_left {
    flex: 1 1 45%;
}

.about-us-card_right {
    display: flex;
    flex: 1 1 45%;
    flex-direction: column;
    gap: 32px;
}

.right-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3.3854166666666665vw 2.5vw 3.28125vw 3.125vw;
    border: 1px solid #CACACA;
    gap: 2.6041666666666665vw;
    border-radius: 32px;
}

.right-card__img {
    background: center no-repeat transparent;
    background-size: contain;
    width: 190px;
    height: 165px;
}

.right-card__img_upper {
    background-image: url(/img/about-us/about-us-icon-1.svg);
}

.right-card__img_lower {
    background-image: url(/img/about-us/about-us-icon-2.svg);
}

.right-card__description {
    max-width: 452px;
    margin-right: -2px;
}

.right-card__title {
    margin-bottom: 8px;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.about-us-card__btn:hover,
.about-us-card__btn:focus {
    background-color: var(--main-color, #FF9900);
}

.about-us-card__btn:active {
    border: 1px solid var(--color-actve, #E1670E);
    background-color: var(--color-actve, #E1670E);
}

/* HOW WE WORK */

.section__how-we-work {
    padding-bottom: 110px;
}

.how-we-work__heading {
    margin-bottom: 45px;
}

.steps__list {
    display: flex;
    gap: 71px;
    font-size: 18px;
}

.how-we-work__list {
    margin-bottom: 41px;
    transform: translateX(-6px);
}

.steps__link {
    padding: 0 7px;
    color: #000;
    transition: color 0.3s ease-in-out;
}

.steps__link:hover {
    color: var(--main-color, #FF9900);
}

.steps__link:active {
    color: var(--color-actve, #E1670E);
    outline: none;
}

.working-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.working-box__content {
    flex: 0 1 758px;
}

.working-box__title {
    margin-bottom: 7px;
    line-height: 32px;
}

.working-box__text {
    margin-bottom: 18px;
}

.btn_contract {
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
    font-weight: 400;
    line-height: 20px;
    margin-left: 29px;
    padding: 19px 37px;
}

.btn_contract:hover,
.btn_contract:focus {
    color: #FFFFFF;
    background-color: #666666;
    border: 1px solid #666666;
}

.btn_contract:active {
    background-color: #000;
    border: 1px solid #000;
}

.working-box__image {
    position: relative;
    top: 9px;
}

/* FAQ */

.section__FAQ {
    padding-bottom: 99px;
}

.FAQ__heading {
    margin-bottom: 34px;
}

.FAQ-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #CACACA;
    border-top: 1px solid #CACACA;
    margin-top: -1px;
    position: relative;
    transition: border-color 0.3s ease-in-out;
}

.FAQ-list__title {
    line-height: 32px;
}

.FAQ-list__item:hover,
.FAQ-list__item:focus {
    border-color: var(--main-color, #FF9900);
    z-index: 1;
}

.FAQ-list__item ellipse,
.FAQ-list__item path {
    transition: fill 0.3s ease-in-out;
}

.FAQ-list__item:hover ellipse,
.FAQ-list__item:focus ellipse {
    fill: var(--main-color, #FF9900);
}

.FAQ-list__item:hover path,
.FAQ-list__item:focus path {
    fill: #FFFFFF;
}

/* FOOTER */

.footer {
    height: 594px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    background: #000000;
    padding: 50px 75px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.footer__logo {
    margin-bottom: 9px;
}

.footer-nav-list {
    margin-bottom: auto;
    position: relative;
    right: 5px;
}

.footer-nav-list__link {
    padding: 0 7px;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #CACACA;
    transition: color 0.3s ease-in-out;
}

.footer-nav-list__link:hover {
    color: var(--main-color, #FF9900);
}

.footer-nav-list__link:active {
    color: var(--color-actve, #E1670E);
    outline: none;
}

.social-media {
    display: flex;
    gap: 25px;
}

.social-media__item {
    height: 60px;
}

.social-media__icon path {
    transition: fill 0.3s ease-in-out;
}

.social-media__icon:hover path {
    fill: var(--main-color, #FF9900);
}

.social-media__icon:active path {
    fill: var(--color-actve, #E1670E);
    outline: none;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 135px;
    /*     position: relative;
    left: 50px; */
}

.label {
    font-size: 48px;
    line-height: 59px;
    color: #CACACA;
}

.input {
    background: #414141;
    border-radius: 16px;
    height: 60px;
    width: 570px;
    padding: 14px 24px;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.input::placeholder {
    color: #CACACA;

}

.input:hover,
.input:focus,
.input:active {
    background: #666666;
}

.input-massage {
    height: 150px;
    padding-top: 20px;
}

.footer-form__btn {
    margin-top: 7px;
    align-self: center;
    padding: 19px 52px;
}

.footer-text {
    width: 363px;
    color: #CACACA;
    align-self: center;
    margin-left: 35px;

}

@media screen and (max-width: 1400px) {

    /* HEADER */
    .header__nav {
        margin-right: auto;
    }

    .nav__list {
        gap: 40px;
    }

    .header__container {
        justify-content: space-between;
    }

    /* HERO */
    .hero__title {
        font-size: 60px;
        line-height: 73px;
        margin-bottom: 16px;
    }

    .hero__subtext {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 60px;
    }

    .hero {
        background-image: url(/img/hero/low-angle-photo-of-balconies-2462015\ 1024.jpg);
    }

    /* ABOUT US */

    .about-us-card {
        flex-direction: column;
    }

    .about-us-card_left {
        flex: 0 1 640px;
        max-width: 1100px;
    }

    .right-card {
        padding: 65px 48px 63px 75px;
        max-width: 1100px;
        gap: 100px;
    }

    /* HOW WE WORK */
    .working-box__content {
        flex: 0 1 500px;
    }

    .working-box__text {
        margin-bottom: 18px;
    }

    /* FAQ */
    .FAQ-list__title {
        max-width: 75vw;
    }

    /* FOOTER */
    .footer-text {
        display: none;
    }

    .footer-form {
        padding-left: 20px;

    }

    .input {
        width: 541px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }

    /* HEADER */
    .burger {
        display: block;
    }

    .nav {
        display: none;
    }

    .header__logo {
        margin-right: 0px;
        width: 150px;
        height: 48px;
        transform: translate(0px);
    }

    .header {
        margin-bottom: 40px;
    }

    /* HERO */
    .hero {
        padding: 160px 77px;
    }

    .hero-wrap {
        max-width: 770px;
    }

    .section__hero {
        padding-bottom: 35px;
    }

    /* ABOUT US */
    .section__about-us {
        padding-bottom: 80px;
    }

    .about-us__text {
        margin-bottom: 60px;
    }

    .right-card {
        gap: 50px;
    }

    /* HOW WE WORK */

    .section__how-we-work {
        padding-bottom: 80px;
    }

    .how-we-work__list {
        margin-bottom: 46px;
    }

    .working-box__text {
        /*     max-width: 500px; */
        margin-bottom: 25px;
    }

    .working-box__content {
        flex: 0 1 437px;
    }

    /* FAQ */

    .section__FAQ {
        padding-bottom: 80px;
    }

    .FAQ__heading {
        margin-bottom: 33px;
    }

    .FAQ-list__title {
        font-size: 20px;
        line-height: 32px;
    }

    /* FOOTER */

    .footer__container {
        padding: 50px;
    }

    .footer-nav-list {
        right: 7px;
    }

    .label {
        font-size: 48px;
        line-height: 59px;
        color: #CACACA;
    }

    .footer-form__btn {
        padding: 19px 38px;
    }
}

@media screen and (max-width: 868px) {

    /* ABOUT US */
    .right-card {
        padding: 35px 48px 33px 40px;
        gap: 25px;
    }

    /* HOW WE WORK  */
    .working-box {
        flex-direction: column;
        gap: 28px;
    }

    .working-box__content {
        order: 1;
    }

    /* FOOTER */

    .footer {
        height: 792px;
    }

    .footer__container {
        flex-direction: column;
    }

    .footer-nav-list {
        display: none;
    }

    .footer-nav {
        order: 1;
    }

    .footer__logo {
        margin-bottom: 9px;
    }

    /* correct it */
    .footer-form {
        padding-left: 0px;
        max-width: 541px;
    }

    .input {
        max-width: 541px;
    }

}

@media screen and (max-width: 768px) {

    /* HEADER */
    .header {
        height: 69px;
        margin-bottom: 40px;
    }

    .header__container {
        border-radius: 0px 0px 24px 24px;
    }

    /* HERO */

    .hero {
        border-radius: 24px;
        padding: 20.833333333333332vw 5.208333333333333vw;
    }

    .hero-wrap {
        max-width: 588px;
    }

    .hero__title {
        font-size: 50px;
        line-height: 61px;
    }

    .hero__subtext {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 60px;
    }

    /* ABOUT US */

    .about-us__text {
        margin-bottom: 55px;
    }

    .about-us-card {
        font-size: 2.085vw;
        line-height: 4.166666666666667vw;
    }

    .about-us-card__text {
        max-width: 375px;
        /* font-size: 2.085vw; */
    }

    .about-us-card_left {
        flex: 0 1 650px;
        border-radius: 24px;
    }

    .about-us-card__description {
        padding: 4.427083333333333vw 5.208333333333333vw;
        border-radius: 24px;

    }

    .right-card {
        border-radius: 24px;
        gap: 16px;
        /*         font-size: 2.085vw;
        line-height: 4.166666666666667vw; */
        padding: 4.557291666666667vw 6.25vw 4.296875vw 5.208333333333333vw;
    }

    .right-card__title {
        font-size: 3.125vw;
    }

    /* HOW WE WORK */
    .how-we-work__heading {
        margin-bottom: 43px;
    }

    .steps__list {
        justify-content: space-between;
        gap: 0px;
    }

    .how-we-work__list {
        transform: translateX(0px);
    }

    .steps__link {
        padding: 0px;
    }

    .working-box__image {
        top: 0px;
    }

    .working-box__text {
        margin-bottom: 18px;
    }

    .working-box__title {
        margin-bottom: 8px;
    }

    .working-box__text br {
        display: none;
    }

    .working-box__text {
        margin-bottom: 24px;
    }

    .section__how-we-work {
        padding-bottom: 50px;
    }

    /* FAQ */

    .section__FAQ {
        padding-bottom: 110px;
    }

    /* FOOTER */

    .input {
        max-width: 71vw;
    }
}

@media screen and (max-width: 500px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* HEADER */
    .header {
        margin-bottom: 30px;
    }

    .header__container {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
    }

    /* HERO */
    .hero {
        border-radius: 16px;
        padding: 60px 21px 60px 23px;
        background-image: url(/img/hero/hero-320.jpg);
    }

    .hero-wrap {
        text-align: center;
    }

    .hero__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 7px;
    }

    .hero__subtext {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 33px;
    }

    .btn {
        border-radius: 8px;
        padding: 13px 29px;
        font-size: 12px;
        line-height: 15px;
    }

    /* ABOUT US */

    .about-us-card_left {
        flex: auto;
        background-image: none;
        justify-content: flex-start;
        gap: 8px;
    }

    .img-for-480 {
        display: block;
    }

    .about-us-card__description {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        background-color: transparent;
        gap: 12px;
    }

    .about-us-card__text {
        color: #000;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
    }

    .about-us-card__btn {
        color: var(--main-color, #FF9900);
        padding: 10px 42px;
        border: 2px solid var(--main-color, #FF9900);
    }

    .about-us-card__btn:active,
    .about-us-card__btn:focus {
        color: #fff;
    }

    .section__heading {
        font-size: 24px;
        line-height: 29px;
    }

    .about-us__text {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 14px;
    }

    .right-card__title {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 4px;
        max-width: 290px;
    }

    .right-card__text {
        font-size: 14px;
        line-height: 28px;
    }

    .about-us-card_right {
        flex: 0 1 auto;
    }

    .right-card {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        padding: 0;
        border: none;
    }

    .right-card__img {
        width: 64px;
        height: 49px;
    }

    .right-card__img_upper {
        background-image: url(/img/about-us/about-us-icon-1-320.svg);
    }

    .right-card__img_lower {
        background-image: url(/img/about-us/about-us-icon-2-320.svg);
    }

    /* HOW WE WORK */
    .steps__list {
        font-size: 14px;
        line-height: 17px;
    }

    .working-box__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
    }

    .working-box__text {
        font-size: 14px;
        line-height: 28px;
    }

    /* FAQ*/

    .FAQ-list__title {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        max-width: 80vw;
    }

    .accordeon-icon {
        width: 30px;
        height: 30px;
    }

    /* FOOTER */
    .footer {
        height: 630px;
    }

    .footer__container {
        padding: 33px 15px;
        align-items: center;
    }

    .label {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: -5px;
    }

    .input::placeholder {
        font-size: 14px;
        line-height: 32px;
    }

    .input {
        max-width: 90vw;
        padding: 13px 19px;
    }

    .footer-nav {
        align-items: center;
    }

    .footer__logo {
        width: 131px;
        height: 42px;
        margin-bottom: 16px;
    }

    .social-media__item {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 320px) {

    .header__logo {
        width: 110px;
        height: 35px;
    }

    /* HERO */
    .section__hero {
        padding-bottom: 59px;
    }

    /* ABOUT US */

    .section__about-us {
        padding-bottom: 61px;
    }

    /* HOW WE WORK */

    .how-we-work__heading {
        margin-bottom: 20px;
    }

    .how-we-work__list {
        margin-bottom: 16px;
    }

    .working-box {
        gap: 6px;
    }

    .working-box__btn {
        display: flex;
        gap: 10px;
        max-height: 39px;
    }

    .how-we-work__btn {
        flex: 1 1 58%;
    }

    .btn_contract {
        margin-left: 0;
        flex: 1 1 42%;
    }

    .section__how-we-work {
        padding-bottom: 60px;
    }

    /* FAQ */
    .FAQ__heading {
        margin-bottom: 18px;
    }

    .section__FAQ {
        padding-bottom: 60px;
    }

    /* FOOTER */

    .footer-form__btn {
        margin-top: 0;
        margin-bottom: 16px;
        padding: 12px 28px;
    }

    .footer-form {
        border-bottom: 1px solid #414141;
    }

    .social-media {
        gap: 16px;
    }
}