/* :root {
    --link-color: #CC9933;
    --bg-color: #FFFFFF;
    --text-color: #000000;
}
 */
/* @font-face {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff');
}
 */
@font-face {
    font-family: 'Montserrat';
    src: local(''),
        url('/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local(''),
        url('/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local(''),
        url('/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local(''),
        url('/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('/fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: none;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 32px;
}

a,
a:link,
a:visited {
    /* color: inherit; */
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ol {
    list-style: none;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active,
textarea:focus {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

body {
    background: #FFFFFF;
}

.container {
    max-width: 1920px;
    /* width: 100%; */
    margin: 0 auto;
    padding-left: 75px;
    padding-right: 75px;
}

/* HEADER */
.header {
    height: 100px;
    margin-bottom: 50px;
}

.header__container {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 0px 0px 32px 32px;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__logo {
    margin-right: auto;
    transform: translateY(5px);
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 68px;
}

.nav {
    margin-right: 250px;
}

.nav__link {
    padding: 0 7px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    border: 2px solid transparent;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.nav__link:hover {
    border-bottom: 2px solid #FF9900;
}

.focus-ui:focus {
    outline: 2px solid #FF9900;
}

.nav__link:active {
    outline: none;
    color: #E1670E;
    border-bottom: 2px solid #E1670E;
}

.search-icon {
    background: url(/img/header/search-icon.svg) center no-repeat transparent;
    background-size: contain;
    width: 24px;
    height: 24px;
}


/* HERO */
.section__hero {
    padding-bottom: 50px;
}

.hero {
    width: 100%;
    max-width: 1770px;
    min-height: 620px;
    background: url(/img/hero/low-angle-photo-of-balconies-2462015\ 1.jpg) center no-repeat;
    background-size: cover;
    border-radius: 32px;
    padding: 100px 80px;
}

.hero-wrap {
    max-width: 837px;
    color: #FFFFFF;
    font-weight: 700;
}

.hero__title {
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    margin-bottom: 24px;
}

.hero__subtext {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 90px;
}

.btn {
    background-color: #FF9900;
    border-radius: 16px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 20px 38px;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
    background-color: #FFB84D;
}

.btn:active {
    background-color: #E1670E;
}

.hero__btn {
    padding: 25px 39px;
    font-size: 23px;
    line-height: 28px;
}

/* ABOUT US */
.section__about-us {
    padding-bottom: 100px;
}

.section__heading {
    font-size: 48px;
    line-height: 59px;
}

.about-us__heading {
    margin-bottom: 20px;
}

.about-us__text {
    max-width: 1235px;
    margin-bottom: 50px;
}

.about-us-card_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url(/img/about-us/Rectangle\ 2.jpg) no-repeat center;
    background-size: cover;
    max-width: 868px;
    border-radius: 32px;
}

.about-us-card__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 32px;

}

.about-us-card__text {
    max-width: 433px;
    color: #FFFFFF;
    font-weight: 700;
}

.about-us-card__btn {
    background-color: transparent;
    border: 3px solid #FF9900;
    line-height: 20px;
    padding: 17px 35px;
}

.about-us-card {
    display: flex;
    gap: 32px;
}

.about-us-card_left {
    flex: 1 1 45%;
}

.about-us-card_right {
    display: flex;
    flex: 1 1 45%;
    flex-direction: column;
    gap: 32px;
}

.right-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 120px 63px 60px;
    border: 1px solid #CACACA;
    border-radius: 32px;
    max-width: 870px;
}

.right-card__img {
    background: center no-repeat transparent;
    background-size: contain;
    width: 190px;
    height: 165px;
}

.right-card__img_upper {
    background-image: url(/img/about-us/about-us-icon-1.svg);
}

.right-card__img_lower {
    background-image: url(/img/about-us/about-us-icon-2.svg);
}

.right-card__description {
    max-width: 452px;
    margin-right: -2px;
}

.right-card__text {
    margin-top: 8px;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.about-us-card__btn:hover,
.about-us-card__btn:focus {
    background-color: #FF9900;
}

.about-us-card__btn:active {
    border: 1px solid #E1670E;
    background-color: #E1670E;
}

/* HOW WE WORK */

.section__how-we-work {
    padding-bottom: 110px;
}

.how-we-work__heading {
    margin-bottom: 45px;
}

.steps__list {
    display: flex;
    gap: 71px;
    font-size: 18px;
    transform: translateX(-6px);
}

.how-we-work__list {
    margin-bottom: 41px;
}

.steps__link {
    padding: 0 7px;
    color: #000;
    transition: color 0.3s ease-in-out;
}

.steps__link:hover {
    color: #FF9900;
}

.steps__link:active {
    color: #E1670E;
    outline: none;
}

.working-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.working-box__title {
    margin-bottom: 10px;
}

.working-box__text {
    max-width: 758px;
    margin-bottom: 18px;
}

.btn_contract {
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
    font-weight: 400;
    line-height: 20px;
    margin-left: 29px;
    padding: 19px 37px;
}

.btn_contract:hover,
.btn_contract:focus {
    color: #FFFFFF;
    background-color: #666666;
    border: 1px solid #666666;
}

.btn_contract:active {
    background-color: #000;
    border: 1px solid #000;
}

.working-box__image {
    position: relative;
    top: 9px;
}

/* FAQ */

.section__FAQ {
    padding-bottom: 100px;
}

.FAQ__heading {
    margin-bottom: 32px;
}

.FAQ-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #CACACA;
    border-top: 1px solid #CACACA;
    margin-top: -1px;
    position: relative;
    transition: border-color 0.3s ease-in-out;
}

.FAQ-list__item:hover,
.FAQ-list__item:focus {
    border-color: #FF9900;
    z-index: 1;
}

.FAQ-list__item ellipse,
.FAQ-list__item path {
    transition: fill 0.3s ease-in-out;
}

.FAQ-list__item:hover ellipse,
.FAQ-list__item:focus ellipse {
    fill: #FF9900;
}

.FAQ-list__item:hover path,
.FAQ-list__item:focus path {
    fill: #FFFFFF;
}

/* FOOTER */

.footer {
    height: 594px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    background: #000000;
    padding: 50px 75px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.footer__logo {
    margin-bottom: 9px;
}

.footer-nav-list {
    margin-bottom: auto;
    position: relative;
    right: 5px;
}

.footer-nav-list__link {
    padding: 0 7px;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #CACACA;
    transition: color 0.3s ease-in-out;
}

.footer-nav-list__link:hover {
    color: #FF9900;
}

.footer-nav-list__link:active {
    color: #E1670E;
    outline: none;
}

.social-media {
    display: flex;
    gap: 25px;
}

.social-media__item {
    height: 60px;
}

.social-media__icon path {
    transition: fill 0.3s ease-in-out;
}

.social-media__icon:hover path {
    fill: #FF9900;
}

.social-media__icon:active path {
    fill: #E1670E;
    outline: none;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-width: 670px;
    padding-left: 100px;
}

.label {
    font-size: 48px;
    line-height: 59px;
    color: #CACACA;
}

.input {
    background: #414141;
    border-radius: 16px;
    height: 60px;
    padding: 14px 24px;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.input::placeholder {
    color: #CACACA;

}

.input:hover,
.input:focus,
.input:active {
    background: #666666;
}

.input-massage {
    height: 150px;
    padding-top: 20px;
}

.footer-form__btn {
    margin-top: 7px;
    align-self: center;
    padding: 19px 52px;
}

.footer-text {
    width: 363px;
    color: #CACACA;
    align-self: center;
}